/*Primary and secondary accents*/
.btn-primary{
    background-color: #c3976a;
    border-color: #c3976a;
}
.textPrimary{
    color: white;
}
.textSecondary{
    color: #769494;
}
.bgPrimary{
    background-color: #292b2c;
}
.bgSecondary{
    background-color: #4a4c4f;
}

/* Main background */
body{
    background-color: #4a4c4f;
}

/* Navbar style*/
#navbar{
    width: 20%;
    height: 100vh;
    color: white;
    display: inline-block;
}

#appLogo{
    display: inline-block;
    font-size: xx-large;
    margin-left: 10px;
    margin-bottom: 10px;
}
#navBarMenu{
    float: bottom;
    display: block;
    padding-top: 7px;
    padding-right: 10px;
}
.navBarMenuItem{
    text-align: right;
    display: block;
    cursor: pointer;
}

/* Main UI*/
#mainUI{
    width: 80%;
    margin: auto;
}

/* Chat UI */
#chatUI{
    width: 60%;
    display: inline-block;
    padding: 20px;
    margin: 20px 0px 20px 20px;
}
#messagesContainer{
    background-color: white;
    height: 500px;
    margin-bottom: 20px;
}
.message{
    width: 100%;
    margin-left: 3px;
}
.senderName {
    font-weight: bold;
}
.messageContent{
    width: 100%;
}
#usernameChatUI span{
    font-weight: bold;
}
#btnPostMessageContainer {
    margin-top: 5px;
    text-align: center;
}

/* Download and delete UI*/
#utilitiesUI{
    width: 35%;
    display: inline-block;
    float: right;
    padding: 20px;
    margin: 0px 20px 20px 0px;
}

#utilitiesUI > .card {
    margin-bottom: 10px;
}

.customForm > div{
    margin: 0px auto 10px auto;
    width: 90%;
}

.customForm > div > label{
    width: 15%;
    text-align: right;
    margin-right: 10px;
}

.customForm > div > input{
    width: 75%;
    display: inline-block;
}

.utilitiesUIBtnContainer {
    text-align: center;
    margin-bottom: 0px !important;
}


