/*Primary and secondary accents*/
.btn-primary{
    background-color: #c3976a;
    border-color: #c3976a;
}
.textPrimary{
    color: white;
}
.textSecondary{
    color: #A8C6C6;
}
.bgPrimary{
    background-color: #292b2c;
}
.bgSecondary{
    background-color: #4a4c4f;
}

/* Main background */
body{
    background-color: #4a4c4f;
}

/* Navbar style*/
#navbar{
    width: 20%;
    height: 100vh;
    color: white;
    display: inline-block;
    position: fixed;
}

#appLogo{
    width: 100%;
    text-align: center;
    display: inline-block;
    font-size: xx-large;
    padding: 10px 5px;
}
#navBarMenu{
    float: bottom;
    display: block;
    margin-top: 10px;
}
.navBarMenuItem{
    text-align: center;
    display: block;
    cursor: pointer;
    padding: 10px 0;
    border-right: 1px solid #ffffff00;
}
.navBarMenuItem:hover{
    background-color: #666666;
    border-right-color: white;
}

/* Main UI*/
#mainUI{
    width: 80%;
    margin: auto;
    float: right;
}

/* Chat UI */
#chatUI{
    width: 62%;
    display: inline-block;
    padding: 20px;
}
#messagesContainer{
    margin-bottom: 20px;
}
.message{
    width: 100%;
    display: inline-block;
    margin-left: 3px;
    margin-bottom: 1rem !important;
}
.senderName{
    color: white;
    font-weight: bold;
}
.messageContent{
    width: fit-content;
    background-color: white;
    padding: .5rem;
}
#usernameChatUI {
    font-weight: bold;
    color: white;
}
#message{
    width: 85%;
    float: left;
}
#btnPostMessageContainer{
    margin-top: 5px;
}
#btnPostMessageContainer button {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin-top: 7px;
    margin-left: 10px;
}
#btnPostMessageContainer span{
    display: none;
}

/* Download and delete UI*/
#utilitiesUI{
    width: 30%;
    height: 100%;
    display: inline-block;
    text-align: center;
    position: fixed;
    right: 0px;
    background-color: #292b2c;
    overflow-y: hidden;
}

#utilitiesUI > .card {
    border: 0;
}

#utilitiesUI > .card > .card-header {
    padding: 0;
    border-left: 1px solid #ffffff00;
    border-radius: 0;
}

#utilitiesUI > .card > .card-header:hover {
    background-color: #666666;
    border-left-color: white;
}

#utilitiesUI > .card > .card-header > a {
    width: 100%;
    padding: 10px 0;
}

.customForm > div{
    margin: 0px auto 10px auto;
    width: 90%;
}

.customForm > div > label{
    width: 15%;
    text-align: right;
    margin-right: 10px;
}

.customForm > div > input{
    width: 75%;
    display: inline-block;
}

.utilitiesUIBtnContainer {
    text-align: center;
    margin-bottom: 0px !important;
}



